.globalMenu{
	background-color: black;
	color: ivory;
	font-weight: 400;
	font-size: 20px;
	padding: 8px;
	display: flex;
    justify-content: center;
}

.menuItem {
	text-decoration: none;  /*tirar o sublinhado do link*/
	color: inherit;
	display: flex;
	justify-content: center;
	padding: 8px;
    text-transform: uppercase;
}

.menuItem:hover{
	color: rgb(119, 89, 118);
}