.product-card{
    display: flex;
    flex-wrap: wrap;
  	margin: 20px;
    color: cornsilk;
}

.product-card img{
    width: 150px;
    height: 200px;
}

.product-card div.info{
    display: flex;
	flex-direction: column;
	margin-left: 10px;
}

