.product-card{
    display: flex;
    font-family: Barlow;
    margin: 20px;
    width: 350px;
    height: 200px;
}

.product-card ul.info{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.poster{
    width: 130px;
    height: 200px;
    margin-right: 8px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0);
}

.product-card li{
    padding: 5px;
}

.product-card ul li.title{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.product-card ul li.year{
    width: 96px;
}

.product-card ul li.imdbID{
    width: 96px;
    font-size: 12px;
    font-style: italic;
}

.product-card ul li.type{
    text-transform: capitalize;
}