.product-card{
    display: flex;
    margin: 20px;
    width: 400px;
    height: 200px;
}
.product-card div.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.poster{
    object-fit: contain;
    max-width: 150px;
    max-height: 200px;
    margin-right: 10px;
}

.product-card h1{
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.product-card h3{
    text-transform: capitalize;
}