@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

* {
    font-family: 'Barlow', sans-serif;
    color: cornsilk;
}

body {
    margin: 0px;
    background-color: #222;
}

body h1 {
    
    font-size: 2em;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
}

ul{
    display: flex;
    flex-wrap: wrap;
}